################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SpaceForPupils/SpaceForPupils/Debug/vc141.pdb
/SpaceForPupils/SpaceForPupils/Debug/vc141.idb
/SpaceForPupils/SpaceForPupils/Debug/stdafx.obj
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/unsuccessfulbuild
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/SpaceForPupils.lastbuildstate
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/CL.write.1.tlog
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/CL.read.1.tlog
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/CL.command.1.tlog
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.pch
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.log
/SpaceForPupils/.vs/SpaceForPupils/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cats/v15/.suo
/SpaceForPupils/SpaceForPupils/targetver.h
/SpaceForPupils/SpaceForPupils/stdafx.h
/SpaceForPupils/SpaceForPupils/SpaceForPupils.vcxproj.filters
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/link.write.1.tlog
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/link.read.1.tlog
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.tlog/link.command.1.tlog
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.obj
/SpaceForPupils/Debug/SpaceForPupils.pdb
/SpaceForPupils/Debug/SpaceForPupils.ilk
/SpaceForPupils/Debug/SpaceForPupils.exe
/SpaceForPupils/SpaceForPupils/stdafx.cpp
/SpaceForPupils/SpaceForPupils/Debug/SpaceForPupils.Build.CppClean.log
*.pdb
*.tlog
*.obj
*.pch
*.idb
*.log
/Rabbit/Rabbit/stdafx.h
/Rabbit/Rabbit/stdafx.cpp
/Rabbit/Rabbit/Rabbit.vcxproj.filters
/Rabbit/Rabbit/targetver.h
*.exe
*.ilk
*.suo
*.filters
*.enc
*.iobj
*.ipdb
/heshTable/Debug/output.txt
*.db-shm
*.db
*.db-wal
*.exp
*.lib
